# Vercel
.vercel

# Build output
dist/

# Dependencies
node_modules/

# Environment files
.env
.env.local
.env.*.local
.env.development
.env.production

# Secrets baseline
.secrets.baseline

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
